<p id="notice"><%= notice %></p>

<h1>
  Tickets
  <div class="filter-1">
    <%= link_to('All Tickets', tickets_path) %>
    <%= link_to('Only my tickets', tickets_path(user: current_user.id)) %>
    <% if user_signed_in? %>
      <%= button_to('Export my tickets', export_tickets_path) %>
    <% end %>
  </div>
</h1>

<div>
  <ul class="tagcloud">
    <li><%= link_to('All', tickets_path) %></li>
    <%= render @tags %>
    <% @tags.each do |tag| %>
      <li>
        <%= link_to(tag.name, tickets_path(tag: tag.id)) %>
        <span>[ <%= @counts[tag.id] %> items ]</span>
      </li>
    <% end %>
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Priority</th>
      <th>Header</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <% if ticket.user %>
          <td><%= ticket.user.email %></td>
        <% else %>
          <td>Guest User</td>
        <% end %>
        <% if (ticket.priority || 999) < 3 %>
          <td style="color: red"><%= ticket.priority %></td>
        <% else %>
          <td><%= ticket.priority %></td>
        <% end %>
        <% if (ticket.priority || 999) < 3 && ticket.user == current_user %>
          <td style="background: red; color: white;"><%= ticket.header %></td>
        <% else %>
          <td><%= ticket.header %></td>
        <% end %>
        <td><%= ticket.text %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
