<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bug.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @bug.priority %>
</p>

<p>
  <strong>Color:</strong>
  <%= @bug.color %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @bug.due_date %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
